<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.jvapps.system_alert_window">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <!-- Overlay activity -->
        <activity
            android:name=".BubbleActivity"
            android:documentLaunchMode="always"
            android:label="@string/bubbles_activity"
            android:allowEmbedded="true"
            android:resizeableActivity="true"
            android:showOnLockScreen="true"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute" />

        <!-- Foreground overlay service -->
        <service
            android:name="in.jvapps.system_alert_window.SystemAlertWindowService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|dataSync|location" />
    </application>

</manifest>